@{
    ViewData["Title"] = "Opens";
}

<h1>Opens</h1>
<div>
    <form action="Opens" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Save" />
    </form>
</div>